!*.cpp
*.out
*.vscode
bitmagic/sparseNum
bitmagic/countSetBitstoN
recursion/palindromeRec
recursion/powerSetRec
.gitignore
recursion/wordsPhoneDig
arrays/mvZerosEnd
arrays/leftRotateArr
arrays/leftRotateD
arrays/stockBuyAndSell
arrays/trapRainWater
arrays/maxCircSubArrSum
arrays/equilibriumPoint
arrays/maxSecondMax
arrays/maxOccuring
arrays/frequencyCount
arrays/smallestPositivemissing
arrays/rearrangeArray
arrays/arraySortAndRotate
searching/findPeak
searching/repeatingelem
searching/countOnesBinaryArr
searching/squareRoot
searching/minInSortRotArr
searching/roofTop
searching/countOccnk
sorting/selectionSort
