!*.cpp
*.out
*.vscode
bitmagic/sparseNum
bitmagic/countSetBitstoN
recursion/palindromeRec
recursion/powerSetRec
.gitignore
recursion/wordsPhoneDig
arrays/mvZerosEnd
arrays/leftRotateArr
arrays/leftRotateD
arrays/stockBuyAndSell
arrays/trapRainWater
